<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
  
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    
        <div class="formbg-outer">
          <div class="formbg">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
              <h1 class="logoylogin">
                <img class="logo" src="../../../assets/images/Blitzvideo.png" alt="">
              </h1>
            </div>
            <div class="box-root padding-bottom--24 flex-flex flex-justifyContent--center">
              <h2 >
                Login
              </h2>
            </div>
            <div class="formbg-inner padding-horizontal--48">
              <form id="stripe-login" #dataform="ngForm" (ngSubmit)="onSubmit(dataform)">
                <div class="field padding-bottom--24">
                  <input type="username" placeholder="Usuario"  name="username" ngModel name="username">
                </div>
                <div class="field padding-bottom--24 password-field">
                  <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password" ngModel>
                  <fa-icon [icon]="showPassword ? 'eye-slash' : 'eye'" (click)="togglePasswordVisibility()"></fa-icon>
                </div>
                <div class="field padding-bottom--24" *ngIf="loginAlerta || usuarioRegistradoExitosamente">
                  <div class="mensaje-container">
                    <div *ngIf="loginAlerta" class="error">
                      <span>{{ loginAlerta }}</span>
                      <button type="button" class="close-btn" (click)="closeAlert($event)">×</button>
                    </div>
                    <div *ngIf="usuarioRegistradoExitosamente" class="success">
                      Usuario registrado con éxito. Por favor, inicia sesión.
                    </div>
                  </div>
                </div>
                <div class="field padding-bottom--24">
                  <button class="boton">Iniciar sesion</button>
                </div>
                <span style="letter-spacing: 0.2px"></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>