<h2 mat-dialog-title>Detalles del Reporte</h2>
<mat-dialog-content>
  <p><strong>Reporte ID:</strong> {{ reporte.id }}</p>
  <p><strong>Usuario:</strong> {{ reporte.user.name }}</p>
  <p><strong>Comentario:</strong> {{ reporte.comentario.mensaje }}</p>
  <p><strong>Video correspondiente: </strong><a [href]="aplicacionBlitzvideo + 'video/' + reporte.comentario?.video?.id">{{ reporte.comentario?.video?.titulo }}</a></p>
  <p><strong>Detalle:</strong> {{ reporte.detalle }}</p>
  <p><strong>Estado:</strong> {{ reporte.estado }}</p>
  <p><strong>Contenido inapropiado:</strong> {{ reporte.lenguaje_ofensivo ? 'Sí' : 'No' }}</p>
  <p><strong>Spam:</strong> {{ reporte.spam ? 'Sí' : 'No' }}</p>
  <p><strong>Contenido engañoso:</strong> {{ reporte.contenido_enganoso ? 'Sí' : 'No' }}</p>
  <p><strong>Incitación al odio:</strong> {{ reporte.acoso ? 'Sí' : 'No' }}</p>
  <p><strong>Violencia gráfica:</strong> {{ reporte.contenido_sexual ? 'Sí' : 'No' }}</p>
  <p><strong>Otros:</strong> {{ reporte.otros ? 'Sí' : 'No' }}</p>
  <p><strong>Revisado en:</strong> {{ reporte.revisado_en || 'No revisado' }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar</button>
  <div *ngIf="reporte.comentario.bloqueado === 1">
    <button (click)="desbloquearComentario()">Desbloquear comentario</button>
  </div>
  <div *ngIf="reporte.comentario.bloqueado === 0">
    <button (click)="bloquearComentario()">Bloquear comentario</button>
  </div>

</mat-dialog-actions>
